KAFKA_BROKERS=localhost:29092
KAFKA_SECURITY_PROTOCOL=SASL_PLAINTEXT
KAFKA_USERNAME=producer
KAFKA_PASSWORD=producer-password
KAFKA_TOPIC=transactions.card
KAFKA_KEY_FIELDS=customerId,userId,user_id,correlationId,id,key
GENERATOR_SCHEMA_PATH=./schemas/card.avsc
GENERATOR_COUNT=500
GENERATOR_SEED=42